@import './../../../assets/stylus/_settings'

.questionBox {
  background: #fff;
  border-radius: 5px;
  padding: 20%;
  .answer {
    margin 16px;
    p {
      color: primary-color-medium;
      text-align center
    }
    .yes{
      background-color #a6f5b9;
    }
    .no{
      background-color #f1bfbf;
    }
    .changed{
      background-color #ececec;
    }
  }
}