// Breakpoints
desktop-breakpoint = 768px
largescreen-breakpoint = 1248px

// Colors
primary-color = #33b2c1
primary-color-dark = #0a4960
primary-color-medium = #3c7d87
primary-color-light = #81c8e5
secondary-color = #33b2c1
gray-color = #f5f5f5
red-color = #d8315b
text-light-color = #fff
text-dark-color = #4c4c4c
text-grey-color = #908d8d

// Fonts
font = 'roboto', sans-serif
regular-font = "Montserrat Alternates",sans-serif;
light-font = 'robotolight', sans-serif
bold-font = 'robotobold', sans-serif

// Basic layout
transition-time = .5s
header-icon-active-color = secondary-color
sub-title-color = red-color
sidebar-bg-color = primary-color-medium
sidebar-color = primary-color-light
sidebar-shadow-color = #2c3847
innersidebar-bg-color = #0e4154
sidebar-icon-active-color = secondary-color
innersidebar-icon-active-color = #0b3645
sidebar-width-desktop = 80px
sidebar-width-mobile = 60px
innersidebar-width-desktop = 270px
innersidebar-width-mobile = 'calc(80% - %s)' % sidebar-width-mobile
main-content-side-padding = 15px

// Cards of the team
cards-team-margin = 20px
card-bg-image = url('./../../../assets/images/cardbg.png')
card-bg-hover-color = primary-color
badge-color = secondary-color

