@import './_settings'

.flex
    display flex
    align-items center
    &.stretch
        align-items stretch
    &.start
        align-items flex-start

.flex-column
    display flex
    align-items center
    
.wrap
    flex-wrap wrap
    
.justify-center
    justify-content center
    
.justify-end
    justify-content flex-end

.margin-block
    margin-bottom: 7%;
    margin-top: 7%;
.text-center
    text-align center;
.background-gray
    background-color gray-color;
.background-primary-color
    background-color primary-color;
.full-width
    width: 100%;
.text-grey
    color: text-grey-color
.max-width-500px
    max-width: 500px;
    padding-left: calc((100% - 500px) / 2);
.line-height
    line-height: 26.5px;
.inline-block
    display: inline-block;
