@import './../../../../assets/stylus/_settings'

footer{
  background: transparent;
}

.footer-content{
  .el-col-sm-6{
    a{
      font-size 14px;
      color: text-grey-color;
    }
    p:first-child a{
      font-size 17px;
      color: red-color;
      text-decoration none;
  }
  }
}